
<br />
<div class="container">
    <div class="row">
        <div class="col-sm-12">

            {{!-- headers --}}
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <div class="row">
                        {{!-- <div class="col-sm-1"><strong>ID</strong></div> --}}
                        <div class="col-sm-2"><strong>Product Name</strong></div>
                        <div class="col-sm-4"><strong>Description</strong></div>
                        <div class="col-sm-1"><strong>Price</strong></div>
                        <div class="col-sm-2"><strong>Quantity</strong></div>
                        <div class="col-sm-2"></div>
                    </div>
                </div>
            </div>

            {{!-- list products --}}
            {{#each data}}
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        {{!-- <div class="col-sm-1">
                            {{this.id}}
                        </div> --}}
                        <div class="col-sm-2">
                            {{this.name}}
                        </div>
                        <div class="col-sm-4">
                            {{!-- custom helper function --}}                    
                            {{truncate this.description}}
                        </div>
                        <div class="col-sm-1">
                            {{this.price}}
                        </div>
                        <div class="col-sm-2">
                            {{this.quantity}}
                        </div>
                        <div class="col-sm-2">
                            <a href="/admin/products/edit/{{this.id}}">Edit</a>
                            <a href="/admin/products/delete/{{this.id}}">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}

            <div>
                <br>
                <button class="btn btn-block btn-outline-primary" onClick="addProduct();">Add</button>
            </div>
        </div>
    </div>
</div>
