{{!-- <div class="alert alert-danger">Test message</div> --}}

{{!-- {{#if sessionFlash.message}}
<div id="flash-messages" class="container">
	{{#contains sessionFlash.type "info"}}
	<div class="alert alert-info">
		{{{sessionFlash.message}}}
	</div>
	{{/contains}}
	{{#contains sessionFlash.type "success"}}
	<div class="alert alert-success">
		{{{sessionFlash.message}}}
	</div>
	{{/contains}}
	{{#contains sessionFlash.type "warning"}}
	<div class="alert alert-warning">
		{{{sessionFlash.message}}}
	</div>
	{{/contains}}
	{{#contains sessionFlash.type "error"}}
	<div class="alert alert-danger">
		{{{sessionFlash.message}}}
	</div>
	{{/contains}}
</div>
{{/if}}




{{#if expressFlash}}
<p><strong>FLASH!</strong> {{ expressFlash }}</p>
{{/if}}

{{#if sessionFlash.message}}
<div class="{{ sessionFlash.type }}">
	<strong>FLASH!</strong> {{ sessionFlash.message }}
</div>
{{/if}} --}}


<br />
<div class="container">
  <div class="row">
     <div class="col-sm-12">

		{{!-- headers --}}
		<div class="card bg-light mb-3">
			<div class="card-body">
				<div class="row">
					<div class="col-sm-4"><strong>First Name</strong></div>
					<div class="col-sm-4"><strong>Last Name</strong></div>
					<div class="col-sm-4"></div>
				</div>
			</div>
		</div>

		{{!-- list employees --}}
		{{#each data}}
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-sm-4">
							{{this.firstName}}
						</div>
						<div class="col-sm-4">
							{{this.lastName}}
						</div>
						<div class="col-sm-4">
							<a href="/employees/edit/{{this.id}}">Edit</a>
							<a href="/employees/delete/{{this.id}}">Delete</a>
						</div>
					</div>
				</div>
			</div>
		{{/each}}

		<div>
			<br>
			<button class="btn btn-block btn-outline-primary" onClick="addEmployee();">Add</button>
		</div>
     </div>
  </div>
</div>