
<br />
<div class="container">

  <!-- if there's no match show an error -->
  {{#if queryMsg}}
    <div class="alert alert-danger alert-dismissible fade show col-md-6 offset-md-3" role="alert">
        {{this.queryMsg}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <br>
  {{/if}}

  <!-- show message when user submits an order -->
  {{#if successMessage}}
    <div class="alert alert-success alert-dismissible fade show col-md-6 offset-md-3" role="alert">
      {{successMessage}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <br>
  {{/if}}

  <!-- flash any error messages -->
  {{#if errorMessage}}
    <div class="alert alert-danger alert-dismissible fade show col-md-6 offset-md-3" role="alert">
      {{errorMessage}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <br>
  {{/if}}

  <!-- search form -->
  <form class="form" method="get" action="/products">
    <div class="row">
        <div class="col-md-8 offset-md-1">
        <input type="text" class="form-control" name="search" placeholder="search products">
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-outline-primary mb-2">Search</button>
        </div>
    </div>
  </form>
  <br>

  <div class="row">
    {{#each data}}
        <div class="col-sm-4">            
          <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <!-- link to product page -->
                    <a href="/product/{{this.id}}">{{this.name}}</a>
                </h5>
                
                <span>Description: {{truncate this.description}} </span>
                <br><br>
                
                <span>price: {{convertToCurrency this.price}}</span><br>                
            </div>
          </div>
        <br>
        </div>
    {{/each}}

  </div>
</div>







