
<br />
<div class="container">

  {{#if foundProducts}}
    {{this.foundProducts}}
  {{/if}}

  <form class="form" method="get" action="/products">
    <div class="row">
        <div class="col-md-6 offset-md-2">
        <input type="text" class="form-control" name="search" placeholder="search products">
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-outline-primary mb-2">Search</button>
        </div>
    </div>
  </form>
  <br>

  <div class="row">
    {{#each data}}
        <div class="col-sm-4">            
          <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <!-- link to product page -->
                    <a href="/product/{{this.id}}">{{this.name}}</a>
                </h5>
                
                <span>Description: {{truncate this.description}} </span>
                <br><br>
                
                <span>price: {{this.price}}</span><br>                
            </div>
          </div>
        <br>
        </div>
    {{/each}}

  </div>
</div>







