
<br />
<div class="container">
  <div class="row">
    <div class="col-sm-12">

        <!-- show message when product added to cart -->
        {{#if successMessage}}
          <div class="alert alert-success alert-dismissible fade show col-md-6 offset-md-3" role="alert">
              {{successMessage}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <br>
        {{/if}}

        {{#if errorMessage}}
          <div class="alert alert-danger alert-dismissible fade show col-md-6 offset-md-3" role="alert">
              {{errorMessage}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <br>
        {{/if}}        

        <div class="row">            
            <div class="col-sm-6 text-center">
              {{!-- image --}}
            </div>
            
            <!-- product details -->
            <div class="col-sm-6">
                <div><h5>{{data.name}}</h5></div><br>                
                <!-- call convertToCurrency helper function in server.js -->
                <div>{{convertToCurrency data.price}}</div><br>
                <div>{{data.description}}</div><br>   

              <div>
                <i>Only {{data.quantity}} left in stock - order soon.</i><br>              
                <br><br>
              </div>

                <form method="post" action="/cart/add/{{data.id}}">
                  <div class="form-group row">
                    <div class="col-sm-10">
                      <div class="row">
                        <label for="qty">Quantity:</label>&nbsp;
                          <select class="form-control col-sm-2" data-style="btn-info" name="prodQty">
                              {{!-- loop through product count --}}
                              {{#each data.prodCountArray}}
                                {{!-- list the index values for the dropdown --}}
                                <option value="{{this}}">{{this}}</option>
                              {{/each}}
                          </select>
                      </div>
                    </div>
                    <br><br>
                    <button type="submit" class="btn btn-block btn-outline-primary mb-2">Add to cart</button>
                  </div>
                </form>

            </div>
        </div>

    </div>
  </div>
</div>